src/main/resources/xsd-templates/InvoiceValidationV1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ircs" type="ircsType"/>
  <xs:complexType name="invoiceType">
    <xs:sequence>
      <xs:element type="strrequestid" name="requestid"/>
      <xs:element type="strpaymentnumber" name="paymentnumber"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ircsType">
    <xs:sequence>
      <xs:element type="invoiceType" name="invoice"/>
      <xs:element type="xs:string" name="hash"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="strrequestid">
    <xs:restriction base="xs:string">
    	<xs:pattern value="([a-zA-Z0-9][a-zA-Z0-9_:.-]*)"/>
      	<xs:minLength value="8" />
      	<xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="strpaymentnumber">
    <xs:restriction base="xs:string">
    	<xs:pattern value="([0-9]*)"/>
      	<xs:minLength value="15" />
      	<xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>